body {
    max-width: 1440px;
    margin: auto;
}
html {
    scroll-behavior: smooth;
}
p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button {
    padding: 0;
}

textarea { resize: none; }

.header {
    top: 0;    
    width: 100%;
    position: absolute;    
    padding: 20px 0;
    box-sizing: border-box;
}
.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgba(28,28,28,0.2);
    backdrop-filter: blur(20px);
    @media screen and (min-width: 768px) {
        gap: 80px;
    }
}
.header__logo-link {
    display: flex;
    align-items: center;
}
.header__logo-image {
    width: 190px;
    height: 30px;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__nav {
    display: flex;
    gap: 10px;
    @media screen and (min-width: 768px) {
        gap: 30px;
    }
}
.header__nav-link {
    padding: 8px 12px;
    font-family: "Shantell Sans", cursive;
    font-size: 14px;
    font-weight: 500;
    color: white;
    transition: ease-in-out 0.3s ;
    @media screen and (min-width: 768px) {
        font-size: 16px;
    } 
}
.header__nav-link:hover {
    color: #000000;
    transition: ease-in-out 0.3s ;
}
.current {
    border-bottom: 1px solid white;
}
.hero {
    position: relative;
    max-width: 1440px;
    height: 800px;
    background-image: url(../images/hero_bg.png);
    background-size: 1440px 800px;
    background-repeat: no-repeat;
    background-position: center;
}
.hero__container {
    padding: 140px 10px 0 10px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1024px) {
        padding: 100px 0 0 80px;
        justify-content: start;
    }    
}
.hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 450px; 
    @media screen and (min-width: 768px) {
        gap: 50px;
    }   
}
.hero__title-text {
    box-sizing: border-box;
    width: 100%;
    font-family: "Shantell Sans", cursive;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    background-color: rgba(28,28,28,0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    @media screen and (min-width: 768px) {
        font-size: 30px;
    } 
}
.hero__title-text-main {
    font-family: "Shantell Sans", cursive;
    font-size: 40px;
    font-weight: 700;
    color: white;
    @media screen and (min-width: 768px) {
        font-size: 48px;
    } 
}
.hero__title-description {
    box-sizing: border-box;
    width: 100%;
    font-family: "Shantell Sans", cursive;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(28,28,28,0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
    @media screen and (min-width: 768px) {
        font-size: 16px;
    } 
}
.hero__button {
    cursor: pointer;
    padding: 12px;
    backdrop-filter: blur(20px);
    border-radius: 24px;
    min-width: 150px;
    background-color: rgba(28,28,28,0.2);
    border: 1px solid white;
    font-family: "Shantell Sans", cursive;
    font-size: 14px;
    font-weight: 500;
    color: white;
    transition: ease-in-out 0.3s ;
    @media screen and (min-width: 768px) {
        font-size: 16px;
    } 
}
.hero__button:hover {
    color: #000000;
    transition: ease-in-out 0.3s ;
    backdrop-filter: blur(20px);
}
.gallery {
    padding: 50px 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(225, 225, 213,0.1);
    @media screen and (min-width: 768px) {
        padding: 50px 40px;
    }
}
.gallery__container {
    border-radius: 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        gap: 50px;
    }     
}
.gallery__title {
    text-align: center;
    font-family: "Shantell Sans", cursive;
    font-weight: 500;
    font-size: 28px;
    color: black;
    @media screen and (min-width: 768px) {
        font-size: 34px;
    } 
}
.gallery__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        gap: 30px;
    }
}
.gallery__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s;
}
.gallery__item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,0.7);
}
.gallery__item:hover .gallery__item-image {
    box-shadow: 0 0 11px rgba(33,33,33,0.7);
}
.gallery__item-title {
    text-align: center;
    font-family: "Shantell Sans", cursive;
    font-weight: 500;
    font-size: 18px;
    color: black;
    border-bottom: 1px solid black;
    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}
.gallery__item-image {
    display: block;
    transition: box-shadow .3s;
    border-radius: 12px;
    width: 250px;
}
.gallery__item-image:nth-child(n+2) {
    display: none;
}


.about {
    background: url('../images/about-bg.png') no-repeat center center/cover;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    @media screen and (min-width: 768px) {
        padding: 50px 40px;
    }
}
.about__container {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(28,28,28,0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.about__title {
    font-family: "Shantell Sans", cursive;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
    @media screen and (min-width: 768px) {
        font-size: 34px;
    }
}
.about__description {
    font-family: "Shantell Sans", cursive;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

.footer {
    padding: 40px 10px ;
    backdrop-filter: blur(20px);
    background-color: rgba(225, 225, 213,0.1);
    @media screen and (min-width: 768px) {
        padding: 50px 40px 20px 40px;
    }
}
.footer__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    /* gap: 80px; */
    @media screen and (min-width: 768px) {
        gap: 80px;
        flex-direction: row;
    }
}
.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: start;
    }
    @media screen and (min-width: 1024px) {
        gap: 80px;
    }
}
.footer__logo-link {
    display: flex;
    align-items: center;
}
.footer__logo-image {
    width: 190px;
    height: 30px;
}
.footer__nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    @media screen and (min-width: 768px) {
        flex-direction: column;
    }
}
.footer__nav-link {
    padding: 8px;
    font-family: "Shantell Sans", cursive;
    font-weight: 500;
    font-size: 14px;
    color: black;
    transition: ease-in-out 0.3s ; 
    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}
.footer__nav-link:hover {
    text-decoration: underline;
    transition: ease-in-out 0.3s ;
}
.footer__socials {
    display: flex;
    flex-direction: column;
    gap: 20px;    
}
.footer__socials-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (min-width: 768px) {
        justify-content: start;
    }
}
.footer__socials-link {
    padding: 8px;
    display: flex;
    align-items: center;
}
.footer__socials-link-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: "Shantell Sans", cursive;
    font-size: 14px;
    font-weight: 500;
    color: black;
    @media screen and (min-width: 768px) {
        justify-content: start;
        font-size: 16px;
    }
}
.footer__socials-link-contact:hover {
    text-decoration: underline;
}
.footer__template {
    text-align: center;
    font-family: "Shantell Sans", cursive;
    color: black;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        margin-top: 10px;
    }
}

.contact-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: ease-in-out 0.3s ;
}
.contact-modal__content {
    transition: ease-in-out 0.3s ;
    position: relative;
    background-color: white;
    margin: 10% auto;
    padding: 40px 20px;
    border-radius: 12px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-modal__close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    transition: ease-in-out 0.3s ;
}
.contact-modal__close:hover {
    color: #555;
    transition: ease-in-out 0.3s ;
    transform: rotate(180deg);
}
.contact-modal__title {
    font-family: "Shantell Sans", cursive;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.contact-modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.contact-modal__form-group {
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 100%;
}
.contact-modal__form-group label {
    display: block;
    font-family: "Shantell Sans", cursive;
    font-size: 16px;
    margin-bottom: 5px;
}
.contact-modal__form-group input,
.contact-modal__form-group textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    font-family: "Shantell Sans", cursive;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact-modal__submit {
    width: 50%;
    padding: 10px;
    font-family: "Shantell Sans", cursive;
    font-size: 16px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: ease-in-out 0.3s ;
}
.contact-modal__submit:hover {
    background-color: #555;
    transition: ease-in-out 0.3s ;
}




.slider-modal {
    display: none;  
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.slider-modal-content {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    margin: 2% auto;
    padding: 40px 10px;
    border-radius: 20px;
    max-width: 450px;
    text-align: center;
    @media screen and (min-width: 768px) {
        padding: 40px 20px;
        max-width: 600px;
    } 
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 36px;
    cursor: pointer;
    transition: ease-in-out 0.3s ;
}
.close:hover {
    color: #555;
    transition: ease-in-out 0.3s ;
    transform: rotate(180deg);
}
.slider-modal-title {
    font-family: "Shantell Sans", cursive;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    @media screen and (min-width: 768px) {
        font-size: 26px;
    }
}
.slider {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
    max-height: 600px;
    @media screen and (min-width: 768px) {
        max-height: 750px;
    }
}
.slider img {
    display: block;
    width: 100%;
    box-sizing: border-box;    
    border-radius: 12px;
    box-shadow: 0 0 11px rgba(33,33,33,0.7);
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.2s ease-in-out; 
    
}
.slider img.active {
    opacity: 1; /* Видимое изображение */
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 14px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: none;
}
.prev {
    left: 10px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    @media screen and (min-width: 768px) {
        left: 20px;
    }
}
.next {
    right: 10px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    @media screen and (min-width: 768px) {
        right: 20px;
    }
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


.slider-image-counter {
    font-family: "Shantell Sans", cursive;
    font-size: 16px;
    margin-top: 20px;
}

#scrollToTopBtn {
    display: none; /* Скрываем кнопку по умолчанию */
    justify-content: center;
    align-items: center;
    position: fixed; /* Фиксируем позицию */
    bottom: 20px; /* Отступ снизу */
    right: 20px; /* Отступ справа */
    z-index: 99; /* Убедимся, что кнопка поверх других элементов */
    border: none; /* Убираем границу */
    outline: none; /* Убираем контур */
    border: 1px solid black; /* Граница */
    border-radius: 50%; /* Круглая форма */
    color: black; /* Цвет текста */
    cursor: pointer; /* Курсор в виде указателя */
    padding: 15px; /* Внутренний отступ */
    font-size: 20px; /* Размер иконки */
    transition: opacity 0.3s; /* Плавное появление */
  }
  
  #scrollToTopBtn:hover {
    background-color: rgba(28,28,28,0.2);
  }